// Viewport

$mobile-width: 375px;
$tablet-width: 1000px;
$desktop-width: 1920px;

// Colors

$black: #000000;
$grey: #666666;
$grey-light: #999999;
$white: #FFFFFF;

$color-text: #404040;
$color-text-valid: #EDF9F0;
$color-text-invalid: #FEEFEF;

$color-active: #5DB061;
$color-link: #2F80ED;

$color-button: #EB6955;
$color-button-hover: #BD2E18;

$color-input: #E8E8E8;
$color-input-hover: #004AD7;
$color-input-valid: #287D3C;
$color-input-invalid: #DA1414;
