// Viewport

$mobile-width: 450px;
$tablet-width-min: 892px;
$tablet-width: 1312px;
$desktop-width: 1920px;

// Colors

$black: #000000;
$white: #FFFFFF;

$color-background: #F8F8F8;

$color-text: #404040;
$color-text-light: #666666;
$color-text-lighter: #999999;
$color-text-valid: #EDF9F0;
$color-text-invalid: #FEEFEF;

$color-step: #ACACAC;

$color-active: #5DB061;
$color-link: #2F80ED;

$color-button: #EB6955;
$color-button-hover: #BD2E18;

$color-input: #E8E8E8;
$color-input-hover: #004AD7;
$color-input-valid: #287D3C;
$color-input-invalid: #DA1414;

$color-footer: #EEEEEE;
$color-checkbox: #CCCCCC;
$color-line: #F4F4F4;

$main-transition: all 0.2s ease;
