.breadcrumbs__link {
  @include link-reset();
  @include font(12px, 16px, 400);
  position: relative;
  padding-left: 12px;
  color: $color-text-lighter;
  transition: $main-transition;

  &:hover {
    color: $color-text;
  }
}

.breadcrumbs__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
  stroke: $color-text-lighter;
  transition: $main-transition;

  .breadcrumbs__link:hover & {
    stroke: $color-text;
  }
}
