.button {
  @include button-reset();
  @include font(14px, 20px, 400);
  color: $white;
  background-color: $color-button;
  border: 1px solid $color-button;
  border-radius: 6px;
  text-align: center;
  transition: $main-transition;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background-color: $color-button-hover;
  }

  &:disabled {
    opacity: 50%;
  }

  &--clear {
    color: $color-text;
    background-color: $white;
    border: 1px solid $color-checkbox;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: rgba($color-text-lighter, 0.2);
    }
  }

  &--with-input {
    height: 50px;
    margin-left: -28px;
    padding: 14px 29px;

    @media (max-width: $tablet-width-min) {
      font-size: 0;
      background-image: url("../img/icon-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .popup & {
      @media (max-width: $mobile-width) {
        @include font(14px, 20px, 400);
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
        background-image: none;
      }
    }
  }

  &--min {
    margin-left: -50px;
    padding: 0;
    width: 50px;
  }

  &--next {
    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
