.order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 117px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 58px;
  }
}

.order__process {
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    margin-top: 26px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 2px;
  }
}

.order__info {
  margin-top: 45px;

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }

  @media (max-width: $tablet-width-min) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
  }
}

.order__part-title {
  margin-top: 60px;
  margin-bottom: 27px;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.order__part-number {
  @include font(24px, 20px, 500);
  color: $color-step;
}

.order__part-promocode {
  margin-top: 60px;
}

.order__back-link {
  @include link-reset();
  @include font(16px, 16px, 400);
  display: none;
  margin-top: 40px;
  color: $color-link;
  text-decoration: underline;

  @media (max-width: $tablet-width) {
    display: block;
    margin-top: 36px;
  }
}
