.order-state {
  padding: 54px;
  border-color: $white;
  box-shadow: 0 5px 10px rgba($black, 0.15);
  border-radius: 10px;

  @media (max-width: $tablet-width-min) {
    padding: 24px 20px 37px;
  }
}

.order-state__item {
  @media (max-width: $tablet-width-min) {
    margin-bottom: 22px;
  }

  &:last-child {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.order-state__info {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  margin-top: 31px;

  @media (max-width: $tablet-width-min) {
    flex-direction: column;
    margin-top: 26px;
  }
}

.order-state__info-text {
  @include reset();
  @include font(16px, 20px, 400);
  margin-top: 20px;
  color: $color-text;

  @media (max-width: $tablet-width-min) {
    margin-top: 8px;
  }

  &:first-of-type {
    @media (max-width: $tablet-width-min) {
      margin-top: 16px;
    }
  }
}

.order-state__info-name {
  @include font(14px, 20px, 400);
  color: $color-text-lighter;
}

.order-state__info-caption {
  @include reset();
  @include font(14px, 20px, 400);
  width: 185px;
  margin-top: 4px;
  color: $color-text-lighter;
}

.order-state__image {
  margin-top: 4px;
}

.order-state__sum {
  @include font(24px, 32px, 600);
  font-family: "Source Sans Pro", sans-serif;
  color: $color-button;
}

.order-state__footer {
  margin-top: 40px;
  padding-top: 7px;
  border-top: 1px solid $color-line;
}

.order-state__footer-text {
  @include reset();
  @include font(14px, 22px, 400);
  width: 650px;
  margin-top: 11px;
  color: $color-text-light;

  @media (max-width: $tablet-width-min) {
    @include font(14px, 20px, 400);
    width: 100%;
    margin-top: 17px;
  }

  &--dark {
    color: $color-text;
  }

  &--light {
    color: $color-text-lighter;
  }
}

.order-state__footer-link {
  color: $color-input-hover;
  text-decoration: underline;
}
