.pickup {
  width: 812px;
  padding: 36px 36px 30px;
  background: $white;
  box-shadow: 0 5px 10px rgba($black, 0.15);
  border-radius: 10px;

  @media (max-width: $tablet-width-min) {
    width: 100%;
  }
}

.pickup__parts-wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-min) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.pickup__part {
  @media (max-width: $tablet-width-min) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.pickup__title {
  @include reset();
  @include font(20px, 26px, 400);
  color: $color-text;

  &:not(:first-child) {
    margin-top: 14px;
  }
}

.pickup__list {
  @include list-reset();

  &:not(:first-child) {
    margin-top: 21px;
  }

  &:last-child {
    margin-bottom: 19px;
  }
}

.pickup__item {
  @include font(14px, 20px, 400);
  padding-left: 34px;
  color: $color-text-light;

  &:not(:first-child) {
    margin-top: 21px;
  }

  &--time {
    background: url("../../img/icon-time.svg") no-repeat;
  }

  &--info {
    background: url("../../img/icon-info.svg") no-repeat;
  }

  span {
    display: block;
  }
}

.pickup__button {
  min-width: 169px;
  padding: 11px 22px;

  &:not(:nth-child(n+2)) {
    margin-top: 28px;
  }
}

.pickup__image-link {
  display: block;
  margin-top: 55px;
  cursor: zoom-in;
}

.pickup__image {
  border-radius: 6px;
  outline: none;
}

.pickup__full-image {
  position: fixed;
  display: none;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  border-radius: 6px;
  cursor: zoom-out;

  .pickup__image:focus ~ & {
    display: block;
  }
}

.pickup__image-caption {
  @include reset();
  @include font(12px, 20px, 300);
  margin-top: 5px;
  color: $color-text-light;
}

.pickup__map {
  border-radius: 8px;

  @media (max-width: $tablet-width-min) {
    width: 100%;
  }
}

.pickup__point {
  margin: 40px -26px -25px;
}

.pickup__container {
  display: flex;
  justify-content: space-between;
}

.pickup__address {
  @include reset();
  @include font(16px, 21px, 400);
  color: $color-text;
}

.pickup__info {
  width: 660px;
}

.pickup__field {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.pickup__delivery-map {
  margin-top: 23px;
}
