.pickup {
  width: 812px;
  padding: 36px 36px 30px;
  background: $white;
  box-shadow: 0 5px 10px rgba($black, 0.15);
  border-radius: 10px;

  @media (max-width: $tablet-width-min) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 24px 20px;
  }
}

.pickup__parts-wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-min) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.pickup__part {
  @media (max-width: $tablet-width-min) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 22px;
  }

  &:last-child {
    @media (max-width: $mobile-width) {
      margin-bottom: 0;
    }
  }
}

.pickup__title {
  @include reset();
  @include font(20px, 26px, 400);
  color: $color-text;

  @media (max-width: $mobile-width) {
    @include font(18px, 24px, 400);
  }

  &:not(:first-child) {
    margin-top: 14px;
  }
}

.pickup__list {
  @include list-reset();

  &:not(:first-child) {
    margin-top: 21px;
  }

  &:last-child {
    margin-bottom: 19px;
  }
}

.pickup__item {
  @include font(14px, 20px, 400);
  padding-left: 34px;
  color: $color-text-light;

  &:not(:first-child) {
    margin-top: 21px;
  }

  &--time {
    background: url("../img/icon-time.svg") no-repeat;
  }

  &--info {
    background: url("../img/icon-info.svg") no-repeat;
  }

  span {
    display: block;
  }
}

.pickup__button {
  min-width: 169px;
  padding: 11px 22px;

  @media (max-width: $tablet-width-min) {
    margin: 10px 0;
  }

  &:not(:nth-child(n+2)) {
    margin-top: 28px;
  }
}

.pickup__image-link {
  display: block;
  margin-top: 55px;
  cursor: zoom-in;

  @media (max-width: 656px) {
    margin-top: 0;
  }
}

.pickup__image {
  border-radius: 6px;
  outline: none;

  @media (max-width: 656px) {
    width: 100%;
  }

  .pickup__point & {
    @media (max-width: $mobile-width) {
      position: absolute;
      top: 50%;
      left: 50%;

      width: auto;
      height: auto;

      max-height: none;
      max-width: none;

      min-height: 100%;
      min-width: 100%;

      transform: translate(-50%, -50%);
    }
  }
}

.pickup__full-image {
  position: fixed;
  display: none;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  border-radius: 6px;
  cursor: zoom-out;

  .pickup__image:focus ~ & {
    display: block;
  }
}

.pickup__image-caption {
  @include reset();
  @include font(12px, 20px, 300);
  margin-top: 5px;
  color: $color-text-light;

  @media (max-width: 656px) {
    display: none;
  }
}

.pickup__map {
  border-radius: 8px;

  @media (max-width: $tablet-width-min) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    height: 167px;
  }
}

.pickup__point {
  position: relative;
  margin: 40px -26px -25px;
  overflow: hidden;

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 404px;
    margin: 22px 0 0;
  }
}

.pickup__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-min) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.pickup__address {
  @include reset();
  @include font(16px, 21px, 400);
  color: $color-text;
}

.pickup__field {
  display: flex;
  width: 100%;
  max-width: 660px;
  margin-top: 24px;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-top: 0;
  }
}

.pickup__delivery-map {
  margin-top: 23px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}
