.register__field {
  @include reset();
  position: relative;
  margin-top: 24px;
}

.register__join {
  margin-top: 22px;

  @media (max-width: $mobile-width) {
    width: 70%;
    margin-top: 16px;
  }
}

.register__checkbox-label {
  @include font(14px, 20px, 400);
  display: block;
  position: relative;
  padding-left: 27px;
  color: $color-text-light;
  cursor: pointer;

  &:before {
    @include pseudo(21px, 21px);
    top: 0;
    left: 0;

    .register__checkbox:checked ~ & {
      background-image: url(../../img/icon-checked.svg);
    }
  }
}

.register__user {
  @include reset();
  @include font(20px, 23px, 500);
  margin-top: 28px;

  @media (max-width: $mobile-width) {
    @include font(18px, 24px, 500);
  }
}

.register__user-data {
  @include font(16px, 19px, 400);

  @media (max-width: $mobile-width) {
    @include font(14px, 20px, 400);
  }
}
