.register__field {
  @include reset();
  position: relative;
  margin-top: 24px;
}

.register__join {
  margin-top: 22px;

  @media (max-width: $mobile-width) {
    width: 70%;
    margin-top: 16px;
  }
}

.register__checkbox-label {
  @include font(14px, 20px, 400);
  display: block;
  position: relative;
  padding-left: 27px;
  color: $color-text-light;
  cursor: pointer;

  &:before {
    @include pseudo(16px, 16px);
    top: 3px;
    left: 3px;
    border: 1px solid $color-checkbox;
    border-radius: 3px;
  }

  &::after {
    @include pseudo(19px, 19px);
    top: 3px;
    left: 3px;

    .register__checkbox:checked ~ & {
      background: url(../../img/icon-checked.svg) no-repeat 5px -1px;
    }
  }
}

.register__user {
  @include reset();
  @include font(20px, 23px, 500);
  margin-top: 28px;

  @media (max-width: $mobile-width) {
    @include font(18px, 24px, 500);
  }
}

.register__user-data {
  @include font(16px, 19px, 400);

  @media (max-width: $mobile-width) {
    @include font(14px, 20px, 400);
  }
}
