.title {
  @include reset();
  color: $color-text;

  &--h1 {
    @include font(34px, 36px, 600);
    font-family: "Source Sans Pro", sans-serif;

    @media (max-width: $mobile-width) {
      @include font(28px, 36px, 600);
      font-family: "Source Sans Pro", sans-serif;
    }
  }

  &--h2 {
    @include font(24px, 28px, 500);

    @media (max-width: $mobile-width) {
      @include font(22px, 26px, 500);
    }
  }

  &--h3 {
    @include font(20px, 23px, 500);

    @media (max-width: $mobile-width) {
      @include font(18px, 21px, 500);
    }

    .order-state__item & {
      @media (max-width: $mobile-width) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }

  .payment__number {
    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}
